.controller{
    position: relative;
}
.controller form{
    display: inline;
}
.controller #list{
    position: absolute;
    right: 0;
}
.controller input{
    font-size: 2em;
}

#article .title{
    text-align: left;
}
#article .writer{
    text-align: right;
}