.form_control_file{
    border: 1px solid black;
    border-radius: 10px;
    /* margin-bottom: 5px; */
}

.btn{
    width: 100px;
    height: 30px;
}
.submit-btn{
    float: right;
}

form{
    margin-bottom: 40px;
}

form > input, textarea{
    margin-bottom: 10px;
}

.type{
    font-size: 25px;
    font-family: 'Times New Roman', serif
}
.type, .form_control_file{
    width: 100%;
}

#title{
    margin-bottom: 0;
    font-weight: bold;
}