.my_submit_btn{
    float: right;
}

#title{
    margin-bottom: 0;
    font-weight: bold;
}

input[type="file"]{
    border-radius: 10px;
    border: 1px solid rgb(118, 118, 118);
}
input[type="text"]{
    background-color: inherit;
    color: white;
    border: 1px solid rgb(118, 118, 118);
}
input[type="text"]::placeholder{
    color: white;
}
textarea{
    background-color: inherit;
    color: white;
    height: 50vh;
}
textarea::placeholder{
    color: white;
}

input[type="file"], input[type="text"], textarea{
    width: 100%;
}