/* *** BEFORE RUN
* ALTER USER ''@'localhost' IDENTIFIED WITH mysql_native_password BY '';
*/
exports.session = {
    secret: ''
};

exports.db = {
    con: require('mysql').createConnection({
        host: "localhost",
        user: '',
        password: ''
    })
};
