/* *** BEFORE RUN
* ALTER USER ''@'localhost' IDENTIFIED WITH mysql_native_password BY '';
*/

exports.session = {
    secret: 'awergvwarf'
};

exports.createDB = {
    con: require('mysql').createConnection({
        host: "localhost",
        user: 'root',
        password: ''
    })
};

exports.connectDB = {
    connection: require('mysql').createConnection({
        host: 'localhost',
        user: 'root',
        password: '',
        database: 'blog'
    })
};